<div class="main-page-content <%= controller.controller_name %>">

  <form id="gui" class="hidden">
    <h1><span class="s1">Sliding</span><span class="s2">Puzzle</span></h1>
    <p>
      <label for="file" id="file_label">Pick an image or video to start…</label>
      <input type="file" id="file" size="10" />
    </p>
    <div id="reminder">
      <p>(When playing, touch the empty space to pause and look at game statistics)</p>
    </div>
  </form>
  <div id="paused">
    <div class="infos">
      <h2>Game Paused</h2>
      <p>Touch the screen to resume…</p>
      <dl style="display: none;"> <!-- time elapsed is buggy when app is unloaded, remove it for now -->
        <dt>Time elapsed:</dt><dd><span id="elapsed">x</span> seconds </dd>
      </dl>
      <dl>
        <dt>Moves used:</dt><dd><span id="moves">x</span></dd>
      </dl>
    </div>
    <div class="controls">
      <button id="newgame">New Game</button>
      <button id="restartgame">Restart Game</button>
    </div>

</div>
<div id="container"></div>
<script>
  window.onload = init;
</script>