<div id="main-container" class="container-fluid">
	
	<div class="row">
			
			<div id="main-content" class="col-sx-9">
				<h1>This is the Home Page of Slider.</h1>  
				<h2>Stay tuned for GREAT THINGS!</h2>
				<img src = "/images/play1.png">
			</div>

			<div id="sidebar" class="col-sx-3">
				<h2>Select Photo</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur libero dolor, sollicitudin non lobortis sit amet.</p>
			</div>
	</div>
</div>