<!DOCTYPE html>
<html>
	<head>
	<title>Slider</title>
	</head>
	<body>
		<h1>This is the Home Page of Slider.</h1>  
		<h1>Stay tuned for GREAT THINGS!</h1>
		<img src = "/images/temp.png">  
		<!-- image fullpath slider/public/images/temp.png -->
	</body>
</html>