<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"> 
  </head>
  <body>
	  <div class="container">
	  	<div class="row text-center">
	  	<h1>Use Your Photo in a Puzzle Game </h1>
	  	</div>
	  	<div class="row">
	  	  <div class="col-md-1">
        </div>
	   		<div class="col-md-6">
	  			<%= image_tag 'slider_demo2.gif' %>
	  		</div>
	  	  <div class="col-md-5">
        </div>
	  	</div>
	  <div class="row text-center">
	   <a href="/users/sign_up"> <h1>Sign-up here.  It's free and always will be.  
	  </h1>
	  </a>

	  </div>
	  </div>
  </body>
</html>