<div id="main-container" class="container-fluid">
	
	<div class="row">
			
			<div id="main-content" class="col-lg-12">
				<h1>This is the Home Page of Slider.</h1>  
				<h2>Run from add_slide branch.</h2>
				<img src = "/images/play1.png">
			</div>
	</div>
</div>