<h1>New Photo</h1>

<%= link_to 'Back', photos_path %>



<div class="input">
<input class="name" placeholder="Photo Name"></input>
<input class="info" type="hidden" name="UUID"
  role="uploadcare-uploader"
  data-images-only="true" />
 <input type="submit" value="Save" class ="btn">
 </div>
  <div class="actions">

  </div>
 </form>



<script>
  $('.btn').click(function(){
  	var uuid = $('.info').val()
  	var name = $('.name').val()
  	console.log(uuid)

        $.ajax({url: "/photos", type: "POST", data: {photo:{ UUID: uuid, name: name}}, success: function(){
        	console.log("saved!")
        }});
    });

  </script>

